modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38599
externalPort = 4200

[[ports]]
localPort = 39137
externalPort = 8000

[[ports]]
localPort = 39609
externalPort = 8099

[[ports]]
localPort = 40409
externalPort = 3001

[[ports]]
localPort = 40479
externalPort = 8080

[[ports]]
localPort = 41947
externalPort = 3002

[[ports]]
localPort = 42281
externalPort = 5000

[[ports]]
localPort = 42621
externalPort = 3003

[[ports]]
localPort = 43069
externalPort = 8008

[[ports]]
localPort = 43269
externalPort = 3000

[[ports]]
localPort = 44553
externalPort = 5173

[[ports]]
localPort = 44567
externalPort = 6800

[[ports]]
localPort = 44945
externalPort = 9000

[[ports]]
localPort = 45191
externalPort = 8081

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_websocket:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
WEBSITE_COMMISSION_RATE = "0.10"
SECURITY_DEPOSIT_AMOUNT = "0"
DATABASE_URL = "postgresql://neondb_owner:npg_4Eswfa6SyHgC@ep-ancient-dust-agz33a36.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require"
SYSTEM_USER_ID = "2bebadee-f30f-43c5-bf57-d94ee04eabe5"
SUPER_ADMIN_IDS = "e461e9f4-6a83-413f-a2e9-ab346d268f44"
VITE_SUPER_ADMIN_IDS = "e461e9f4-6a83-413f-a2e9-ab346d268f44"
SYSTEM_WELCOME_USER_ID = "2bebadee-f30f-43c5-bf57-d94ee04eabe5"
